USE [master]
GO
/****** Object:  Database [DataBaseB]    Script Date: 02/11/2015 22:09:37 ******/
CREATE DATABASE [DataBaseB] ON  PRIMARY 
( NAME = N'DataBaseB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SUBTRACE\MSSQL\DATA\DataBaseB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DataBaseB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SUBTRACE\MSSQL\DATA\DataBaseB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBaseB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBaseB]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 02/11/2015 22:09:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Color](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Color] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON
INSERT [dbo].[Color] ([Id], [Color]) VALUES (1, N'red')
INSERT [dbo].[Color] ([Id], [Color]) VALUES (2, N'green')
INSERT [dbo].[Color] ([Id], [Color]) VALUES (3, N'black')
SET IDENTITY_INSERT [dbo].[Color] OFF
/****** Object:  StoredProcedure [dbo].[_List_Colors]    Script Date: 02/11/2015 22:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_List_Colors]
	@ColorId int = null
AS
BEGIN
    --If the parameter is null then use the row value - basically not using the parameter
	select Id, Color from Color
	where Id = isnull(@ColorId,Id) 
END
GO
